@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #dfdbbb;
  color: #000000;
}

.slick-slide {
  padding: 0 5px;
}

.slick-slide img {
  width: 100%;
  height: 58vh;
  object-fit: contain;
}
